
.header-head {
  background-color: #000000;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}
.header-head div {
  padding: 0 5px;
}
.header-head div a {
background-color: rgba(74, 74, 74);
padding: 5px;
border-radius: 6px;
color: white;
font-size: .7rem;
}

/* MAIN */

.row {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  padding: 10px 0 30px 0;
  height: 84vh;
  overflow: auto;
}

.col {
  height: 150px;
  width: calc((100% / 7) - 6px);
  background-image: url("https://picsum.photos/200/300?random=1");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 7px 3px;
}

.position {
  position: absolute;
  bottom: 0;
  left: 0;
}

span {
  background-color: rgb(98, 110, 121,0.8);
  color: white;
  font-size: .7rem;
}

/* FOOTER */
footer {
  height: 8vh;
  background-color: #222222;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer-flex {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 10px;

}

.icon i {
  margin-bottom: 5px;
}

.green {
  color: green;
}

.button-final {
  background-color: #4a4a4a;
  color: red;
  padding: 0 15px;
}